/*------------------------------------------------------barra de navegacion-------------------------------------------------*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: #fff;
}

.navbar-start {
  flex: 1;
}

.navbar-end {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.navbar-item {
  margin-right: 1rem;
  text-decoration: none;
  color: inherit;
}

.navbar-item:hover {
  color: #007bff;
}

.navbar-item:visited {
  color: #6c757d;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .navbar-end {
    justify-content: center;
    margin-top: 1rem;
  }

  .navbar-item {
    margin: 0 0.5rem;
  }
}

/*------------------------------------------------------pagina densidad -------------------------------------------------*/

.quiz-card{
width: 500px;
border: 2px solid #000; /* Borde de 2px de ancho, sólido y de color negro */
border-radius: 10px; /* Bordes redondeados */
padding: 20px; /* Espaciado interno */
display: flex; /* Usa flexbox para alinear los elementos */
flex-direction: column; /* Alinea los elementos en columna */
align-items: center; /* Centra horizontalmente */
justify-content: center; /* Centra verticalmente */
}
.quiz-imagen{
width: 350px;
height: 350px;
}
.ejercicios-pregunta{
display: flex;
flex-wrap: wrap;
}
